<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Ahoj</h1>
    <div>
        Počet otevření stránky
        <% if (viewCount) { %>
            <%= viewCount%>
        <% } %>
    </div>
    <div>
        Jméno a Přijímení:
        <% if (celeJmeno) { %>
            <%= celeJmeno%>
        <% } %>
        <form action="/" method="post">
            <div><input type="text" placeholder="Jméno" name="jmeno" required></div>
            <div><input type="text" placeholder="Přijímení" name="prijimeni" required></div>
            <div><button type="submit" >Poslat</button></div>
        </form>
    </div>
</body>
</html>
